<div class="container">
  <div class="header">
    <div>
      <mat-form-field>
        <mat-select placeholder="Board Size (x, y)" #bSize [value]="boardSizes[0]"
                    (selectionChange)="setBoardDifficulty(bSize.value[0],bSize.value[1])">
          <mat-option *ngFor="let size of boardSizes" [value]="[size[0],size[1]]">
            {{size[0]}} by {{size[1]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div><span>Score: {{score}}</span></div>
    <div>
      <mat-slider [min]="0.05"
                  [max]="1.7"
                  [step]="0.1"
                  [thumbLabel]="true"
                  [tickInterval]="'auto'"
                  (change)="setBoardDifficulty(bSize.value[0],bSize.value[1])"
                  [(ngModel)]="difficulty"></mat-slider>
      <span>Easiness: {{difficulty}}</span>
    </div>
  </div>
  <table>
    <tbody>
    <tr *ngFor="let row of sweeperArr; index as y">
      <td *ngFor="let field of row; index as x">
        <button class="field"
                mat-stroked-button
                mat-raised-button
                [color]="bomb ? field && 'warn' : ''"
                (click)="!bomb ? field ? bomb=true : onSweep(y, x, $event.target) : null">
          {{bomb ? field ? 'BOOM!' : onSweep(y,x) : ''}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <button style="width: calc(8*88px);"
          mat-raised-button
          color="primary"
          (click)="bomb=false; setBoardDifficulty(bSize.value[0],bSize.value[1]); score=0">Reset Board
  </button>
</div>
