<div class="container">
  <div class="header">
    <div>
      <mat-form-field class="header__board-size">
        <mat-select #bSize
                    placeholder="Board Size"
                    [value]="mineSweeper.size[0]"
                    (selectionChange)="mineSweeper.setMines(bSize.value.y,bSize.value.x)">
          <mat-option *ngFor="let size of mineSweeper.size" [value]="size">
            {{size.y}} by {{size.x}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-icon-button
              matTooltip="Refresh Board"
              color="warn"
              (click)="bomb=false;
              mineSweeper.setMines(bSize.value.y,bSize.value.x);
              mineSweeper.score=0">
        <mat-icon>refresh</mat-icon>
      </button> Score: {{mineSweeper.score}}
    </div>
    <div>
      <span>Easiness: {{mineSweeper.difficulty}}</span>
      <mat-slider min="0.1"
                  max="1.7"
                  step="0.1"
                  thumbLabel="true"
                  (change)="mineSweeper.setMines(bSize.value.y,bSize.value.x)"
                  [(ngModel)]="mineSweeper.difficulty"></mat-slider>
    </div>
  </div>
  <table>
    <tbody>
    <tr *ngFor="let row of mineSweeper.board; index as y">
      <td *ngFor="let field of row; index as x">
        <button class="field"
                mat-stroked-button
                mat-raised-button
                [color]="bomb ? field && 'warn' : ''"
                (click)="!bomb ? field ? bomb=true : onSweep(y, x, $event.target) : null">
          {{bomb ? field ? 'BOOM!' : onSweep(y,x) : ''}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
