<div class="container">
  <div class="header">
    <div>
      <mat-form-field style="width: 3rem; margin-right: 0.5rem">
        <input matInput type="number" placeholder="Height" value="9" #height
               (change)="mineSweeper.setMines($event.target.value,width.value)">
      </mat-form-field>
      <mat-form-field style="width: 3rem">
        <input matInput type="number" placeholder="Width" value="7" #width
               (change)="mineSweeper.setMines(height.value,$event.target.value)">
      </mat-form-field>
    </div>
    <div>
      <button mat-icon-button
              matTooltip="Reset Board"
              color="warn"
              (click)="bomb=false;
              mineSweeper.setMines(height.value,width.value);
              mineSweeper.score=0">
        <mat-icon>refresh</mat-icon>
      </button>
      Score: {{mineSweeper.score}}
    </div>
    <div>
      <span>Easiness: {{mineSweeper.difficulty}}</span>
      <mat-slider min="0.1"
                  max="1.7"
                  step="0.1"
                  thumbLabel="true"
                  (change)="mineSweeper.setMines(height.value,width.value)"
                  [(ngModel)]="mineSweeper.difficulty"></mat-slider>
    </div>
  </div>
  <table>
    <tbody>
    <tr *ngFor="let row of mineSweeper.board; index as y">
      <td *ngFor="let field of row; index as x">
        <button class="field"
                mat-stroked-button
                mat-raised-button
                [color]="bomb ? field && 'warn' : ''"
                (click)="!bomb ? field ? bomb=true : onSweep(y, x, $event.target) : null">
          {{bomb ? field ? 'BOOM!' : onSweep(y,x) : ''}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
