.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.content-container{
  padding: 1rem;
  height: calc(100vh - 64px);
}

@media (max-width: 600px) {
  .content-container{
    padding: 1rem;
    height: calc(100vh - 56px);
  }
}
