<mat-toolbar class="nav-bar" color="primary">
  <div>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Gal's MineSweeper</span>
  </div>
  <span style="flex: 1 auto"></span>
  <div>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      routerLinkActive="active"
      matTooltip="Chat"
      (click)="chat.toggle()">
      <mat-icon aria-label="Chat">message</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="'mine-sweeper'"
         routerLinkActive="active">Mine Sweeper</a>
      <a mat-list-item
         [routerLink]="'boom-stats'"
         routerLinkActive="active">BOOM! Statistics</a>
      <a mat-list-item
         [routerLink]="'custom-photo'"
         routerLinkActive="active">Custom Photo</a>
      <a class="sidenav__footer"
         mat-list-item
         [routerLink]="'questions'"
         routerLinkActive="active">Common Questions</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    #chat
    class="chat-nav"
    fixedInViewport="true"
    position="end"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <app-chat-nav></app-chat-nav>
  </mat-sidenav>
</mat-sidenav-container>
