.nav-bar {
  position: fixed;
  height: 64px;
  z-index: 1000;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  margin-top: 64px;
}

.sidenav__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-container {
  margin-top: 64px;
  padding: 1rem;
  height: calc(100vh - 64px);
}

@media (max-width: 900px) {
  .content-container {
    height: calc(100vh - 81px);
  }
}

@media (max-width: 600px) {
  .content-container {
    height: calc(100vh - 64px);
  }
}
