.join-chat-header {
  background-color: rgba(0, 13, 191, 0.36);
  color: white;
}

.join-chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, rgba(0, 13, 191, 0.36), rgba(0, 18, 255, 0.15));
  height: 86vh;
  color: white;
}

mat-label {
  color: white;
}
