.chat-container {
  display: flex;
  flex-direction: column;
  height: 93vh;
  background: linear-gradient(to bottom right, rgba(0, 13, 191, 0.36), rgba(0, 18, 255, 0.15));
}

.chat-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 255, 0.10);
  font-size: 1rem;
  color: white;
}

.chat-messages {
  overflow: hidden;
  background-color: white;
  padding: 1rem;
  height: 83vh;
}

.chat-messages:hover {
  overflow-y: auto;
}

.chat-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  background-color: rgba(0, 0, 255, 0.10);
  font-size: 1rem;
  color: white;
}

.chat-message {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.1);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
  word-break: break-all;
}

.chat-message__header {
  display: flex;
  justify-content: space-between;
}

.chat-message__header__room {
  font-weight: 500;
}

.chat-message__header__time {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
}

.chat-message__message {
  margin: unset;
}
